<div class="nav_backcolor">
  <nav class="navbar navbar-expand-sm nav_backcolor">
    <div class="container">
      <a
        class="navbar-brand nav_logo text-uppercase fw-bold py-4"
        routerLink="/home"
        >start framework</a
      >
      <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link nav_links text-uppercase fw-bold mx-2">
              <span routerLink="/about" routerLinkActive="active px-3 py-2"
                >About</span
              ></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link nav_links text-uppercase fw-bold mx-2"
              ><span routerLink="/portfolio" routerLinkActive="active px-3 py-2"
                >portfolio</span
              ></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link nav_links text-uppercase fw-bold"
              ><span routerLink="/contact" routerLinkActive="active px-3 py-2"
                >contact</span
              ></a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
