.icon:before{
    content: "";
    position: absolute;
    left: -95px;
    top: 10px;
    width: 80px;
    height: 4px;
    background-color: #fff;
}
.icon:after{
    content: "";
    position: absolute;
    left: 32px;
    top: 10px;
    width: 80px;
    height: 4px;
    background-color: #fff;
}