<!-- Info Section -->
<section id="info" class="nav_backcolor">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-4">
                <div class="containt d-flex flex-column justify-content-center align-items-center text-center">
                    <h2 class="h5 text-uppercase fw-bold text-white pt-5 pb-2" style="font-size: 28px !important;">LOCATION</h2>
                    <p class="text-capitalize text-white" style="font-size: 16px !important;">2215 John Daniel Drive</p>
                    <p class="text-capitalize text-white" style="font-size: 16px !important;">Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="containt d-flex flex-column justify-content-center align-items-center text-center">
                    <h2 class="h5 text-uppercase fw-bold text-white pt-5 pb-2" style="font-size: 28px !important;">AROUND THE WEB</h2>
                    <ul class="d-flex column-gap-4 justify-content-evenly list-unstyled text-white">
                        <li>
                            <span class="d-flex justify-content-center align-items-center border border-1 rounded-circle p-2">
                                <i class="fa-brands fa-facebook"></i></span>
                        </li>
                        <li>
                            <span class="d-flex justify-content-center align-items-center border border-1 rounded-circle p-2"><i class="fa-brands fa-twitter"></i></span>
                        </li>
                        <li>
                            <span class="d-flex justify-content-center align-items-center border border-1 rounded-circle p-2"><i class="fa-brands fa-linkedin-in"></i></span>
                        </li>
                        <li>
                            <span class="d-flex justify-content-center align-items-center border border-1 rounded-circle p-2"><i class="fa-solid fa-globe"></i></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="containt d-flex flex-column justify-content-center align-items-center text-center">
                    <h2 class="h5 text-uppercase fw-bold text-white pt-5 pb-2" style="font-size: 28px !important;">ABOUT FREELANCER</h2>
                    <p class="text-capitalize text-white" style="font-size: 16px !important;">Freelance is a free to use, licensed Bootstrap theme</p>
                    <p class="text-capitalize text-white" style="font-size: 16px !important;">created by Route</p>
                </div>
            </div>
        </div>
    </div>
 </section>
